//Colores
/* RGB */
$dark-turquoise: rgba(26, 83, 92, 1);
$turquoise: rgba(78, 205, 196, 1);
$light-turquoise: #beece9;
$white: rgba(247, 255, 247, 1);
$red: rgba(255, 107, 107, 1);
$yellow: rgba(255, 230, 109, 1);
$rose:#e5c1bd;
$grey:#f8f8f8;
$black: #222;
$light-blue:#beece9;

$lightgreen:#a9fdac;
$green:#44cf6c;
$gold:#efb810;
$darkgreen:#034e3c;
$rosa:#e5c1bd;
$lightgold:#f6d87c;
$darkgold:#daa80f;

//fuentes
$small:16px;
$medium:20px;
$big:48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top:90px;

$border-radius:4px;
